
body {
  margin: 0;
  padding: 0;
}

#title{
  margin: 0;
  background-color: #7eb1cf;
  height: 2.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5em;
  text-align: center;
  color: white;
}

#link-div {
	padding: 2em 1em;
}

#link-div a {
	font-size: 2em;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
	padding: 0.5em 1em;
}

#tribute-info {
  background-color: #dde7ed;
  color: #3b708f;
  padding: 2em 1em;
}

#tribute-title {
  font-size: 2em;
}

#tribute-detail {
  margin: 1em;
}

#period {
  color: #7eb1cf;
  font-family: Tahoma;
  font-size: 0.8em;
}

#institute {
  font-size: 1.5em;
}

.link {
  background-color: #7eb1cf;
  padding: 1em;

  font-family: Tahoma;
  text-align: center;
  color: white;
}

a {
  color: #edadc3;
}