
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121624;
}

#display {
  width: min(90vw, 600px);
  height: min(15vh, 80px);
  box-sizing: border-box;
  padding-left: min(10vw, 20px);
  font-size: min(10vh, 60px);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: min(90vw, 600px);
  height: min(70vh, 650px);
}

.number, .operator, .etc, #clear, #equals {
  font-size: min(8vh, 50px);
  border: 1px solid #121624;
}

#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  color: white;
  background-color: #726d75;
}

#clear {
  color: white;
  background-color: #de7873;
}

.operator {
  color: white;
  background-color: #8886b5;
}

.etc {
  background-color: #ada7b0;
}
